@model Huta.Prop.DailyMessages

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add reasons</title>
</head>
<body>
    <table class="table">
        <tbody>
            @foreach (var item in Model.Messages)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td rowspan="3" style="border-bottom: 1px solid grey;">@Html.ActionLink("Edit", "Edit", new { date = item.Date.ToString("yyyy-MM-dd") })</td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom: 1px solid grey;">
                        @Html.DisplayFor(modelItem => item.SubMessage)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
