@using Huta.Models.Prop
@model List<IntroViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>I do love you Lucy! Do you believe me?</title>
</head>
<body>
</body>
</html>
