@model Huta.Prop.DailyMessage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>

<h4>Daily Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <h4>Something went wrong</h4>
    </div>
</div>

<div>
    <a asp-action="DailyMessage">Back</a>
</div>

</body>
</html>
